body{
    font-family: Arial;
    background-color:#f4f6f8;
}

.container{
    width:90%;
    margin:auto;
}

h1{
    text-align:center;
    color:#2c3e50;
}

form{
    background:white;
    padding:20px;
    border-radius:10px;
}

input{
    padding:10px;
    margin:5px;
}

button{
    padding:10px 20px;
    background:#3498db;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#2980b9;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

th{
    background:#3498db;
    color:white;
}

th,td{
    border:1px solid #ddd;
    padding:10px;
    text-align:center;
}